<ion-header>
  <app-user-bar></app-user-bar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="peladas" href="/tabs/peladas">
      <ion-icon name="football"></ion-icon>
      <ion-label>Peladas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mural" href="/tabs/mural">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Mural</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
