.rank-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  span {
    flex: 1;
  }
}

.media-preview-list {
  margin: 0 -0.5rem;
}

.media-hub-card ion-card-header {
  cursor: pointer;
}
